include biometrics_tracker/help/*.html
include biometrics_tracker/help/css/*.css
include biometrics_tracker/help/images/*.png
include biometrics_tracker/gui/biometrics_tracker.png
include docs/source/*.rst




